html{
    height:100%;
    font-family: 'Poppins', sans-serif;
}
body{
    max-height: 100%;
}
header{
    height:auto;
    width:95%;
    height: 50px;
    display:flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin:auto;
    padding: 5% 0;
}
img.logoimg{
    height: 100%;
    width:auto;
}
#menubtn{
    padding: 16px;
}
#dropdown{
    position:absolute;
    display:inline-block;
    top: 1%; right: 5%;
}
#dropdown-content{
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:5%;
    padding: 10%;
}
#nav-pages.nav-link, #nav-login.nav-link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
nav{
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
}
#topimg{
    width:140%;
}
#title1{
    padding: 5%;
    text-align: center;
    font-weight: 700;
    font-size:32pt;
    line-height: 1.25;
}
#top-section > p{
    color:grey;
    width: 75%;
    margin:auto;
    text-align: center;;
}

#top-section > .get-started{
    text-align: center;
    padding: 3% 8%;
    color:white;
    background-color: hsl(180, 66%, 49%);
    border-radius: 25px;
    width:25%;
    margin: 5% auto 25% auto;
}

.hidden{display: none;}
.show {display:block;}