html{
    height:100%;
    font-family: 'Poppins', sans-serif;
}
html,body{
    padding:0;
    margin:0;
}
header{
    height:auto;
    width:95%;
    height: 50px;
    display:flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin:auto;
    padding: 5% 0;
}
img.logoimg{
    height: 100%;
    width:auto;
}
#menubtn{
    padding: 16px;
}
#dropdown{
    position:absolute;
    display:inline-block;
    top: 1%; right: 5%;
}
#dropdown-content{
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right:5%;
    padding: 10%;
}
#nav-pages, #nav-login{
    display:flex;
    flex-flow: column nowrap;
}
#nav-pages.nav-link, #nav-login.nav-link{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display:block;
}
nav{
    width:100%;
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
}
#topimg{
    width:140%;
}
#title1{
    padding: 5%;
    text-align: center;
    font-weight: 700;
    font-size:32pt;
    line-height: 1.25;
}
#top-section > p{
    color:grey;
    width: 75%;
    margin:auto;
    text-align: center;
}

.get-started{
    text-align: center;
    padding: 3% 8%;
    color:white;
    background-color: hsl(180, 66%, 49%);
    border-radius: 25px;
    width:25%;
    margin: 5% auto 25% auto;
}
#shortener{
    color:white;
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    width:80%;
    background-color: hsl(257, 27%, 26%);
    z-index: -10;
    height: 148px;
    border-radius: 15px;
    margin:auto;
}
#shortener > img{
    position: relative;
    border-top-right-radius: 15px;
    z-index: 0;
    left:40%;
    width:60%;
    height:100px;
}
input{
    position: relative;
    display: flex;
    align-self: left;
    z-index: 1;
    width:80%;
    height:40px;
    padding:0;
    text-align: left;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    bottom:50%;
    border: none;
}
#shorten-box{
    text-align: center;
    left:10%;
}
#shorten-btn{
    position: relative;
    right:70%;top:20%;
    background-color: hsl(180, 66%, 49%);
    color:white;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
#middle-section{
    background-color: hsl(257, 7%, 90%);
    text-align: center;
    width:100%;
    z-index: -1;
}
.icon-blue-bar{
    position:absolute;
    z-index: 0;
    left:50%;
    width:10px; height:160px;
    background-color: cyan;
    margin: 0px -5px;
}
#advanced-statistics{
    width:90%;
    margin:  10% auto 0 auto;
    z-index: 1;
    padding: 10% 0 15% 0;
}
#AS-title{
    font-size: 24pt;
    font-weight: 700;
}
.stats-card{
    background:white;
    padding:25% 5% 5% 5%;
    margin-top:5%;
    border-radius: 5%;
}
.stats-card p{
    color:grey;
}
.stats-title{
    font-size:16pt;
    font-weight: 700;
}
.icon-bg{
    display: inline-block;
    position: relative;
    top: 65px;
    background-color: hsl(257, 27%, 26%);
    width:100px;
    height:100px;
    border-radius: 100%;
}
.card-icon{
    position: absolute;
    top:50%;
    left:50%;
    margin: -20px;
}
.cust{
    margin:-25px;
}
#Boost{
    display: flex;
    flex-flow: column nowrap;
    z-index: 1;
    color:white;
    text-align: center;
    margin-bottom: 30%;
}
#boost-links{
    font-size:18pt;
    font-weight:700;
}
#Boost > img{
    z-index: -1;
    width: 100%;
    position: absolute;
    background-color: hsl(257, 27%, 26%);
}
#boost-btn-area{
    position: relative;
    top:6em;
}
#boost-btn-area .get-started{
    width:50%;
    padding: 2% 0%;
}
footer{
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    background-color: hsl(260, 8%, 14%);
}
.footer-sec{
    color:white;
    margin: 5% 0;
}
footer a {
    color:grey;
    margin: 1% 0 0 0;
}
footer img {
    width:50%;
    margin: 5% auto;

}
#social-links{
    color:white;
    text-align: center;
    margin: 5% 0;
}
#social-links i {
    padding: 10% 5%;
}
.hidden{display:none;}
.show {display:block;}


/*

Desktop Styles

*/

@media only screen and (min-width: 415px){
    html{width:100vw;}
    body{max-width:100vw;}
    header{
        width:90%;
        padding:3% 1%
    }
    #topimg{
        width:50%;
        position: absolute;
        right:-100px;
        bottom:25px;
    }
    #title1, #top-section p{
        text-align: left;
        width:30%;
        margin: 0% 0 0 10%;
        padding:0;
    }
    #title1{
        margin-top:10%;
    }
    .get-started{
        position: relative;
        right:30%;
        width:10%;
        padding: 1% 5%;
    }
    #reg-nav-menu{
        width:100%;
        display: flex;
        position: relative;
        top:50px;
        flex-flow:row nowrap;
        justify-content: space-between;
    }
    #nav-pages, #nav-login{
        width:100%;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    #dropdown{
        width:75%;
        display:flex;
        flex-flow:row nowrap;
    }
    #shortener{
        height: 100px;

    }
    input{
        width:40%;
    }
    #shortener{
        flex-flow:row nowrap;
        justify-content: space-between;
    }
    input{
        width:40%;
    }
    #shorten-btn{
    }
    #shorten-box{
        left:-300px;
    }
    #shortener > img {
        position: relative;
        
    }
    #menubtn{
        display:none;
    }
}
